*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px 1fr 40px;
    grid-template-areas: 
    "navbar navbar"
    "main main"
    "footer footer";
    background: linear-gradient(to right , lightblue,lightgreen);
}
nav {
    position: sticky;
    top: 0;
    grid-area: navbar;
    background: linear-gradient(to right, cyan , royalblue);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
}
.nav1 {
    display: flex;
}
.nav1 p {
    font-size: 2.5vw;
    font-weight: bold;
}
#icon {
    display: none;
}
.nav2 a {
    color: white;
    text-decoration: none;
    padding: 0vw 2vw;
    display:inline-block;
    transition: transform 0.3s;
    font-size: 1.5vw;
}
.nav2 a:hover {
    transform: scale(1.2);
}
aside{
    display: none;
    height: calc(100vh - 50px);
    top: 50px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: grey;
}
aside h1 {
    margin-top: 10px;
}
.bar {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
}
.bar1 {
    margin-top: 20px;
}
.bar2 {
    align-self: end;
    position: sticky;
    bottom: 0vh;
}
li {
    list-style: none;
    margin: 0px 10px;
    font-size: 20px;
    padding: 10px 10px;
    border: 1px solid none;
    border-radius: 10px;
    transition: background-color 0.4s, transform 0.4s;
}
li:hover {
    background-color: cyan;
    transform: scale(1.02);
}
#log:hover {
    background-color: red;
    transform: scale(1.02);
}
#set:hover {
    background-color:  rgb(5, 250, 5);
    transform: scale(1.02)
}
main {
    grid-area: main;
    padding: 0.5em 1em;
    text-align: justify;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.bigscreen {
    margin-bottom: 20px;
    color: red;
    text-align: center;
}
footer {
    grid-area: footer;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:700px) {
    body {
        grid-template-columns: 1fr;
    }
    nav {
        display: flex;
    }
    #icon {
        display: block;
    }
    .nav1 p {
        font-size: 3vh;
    }
    .nav2 {
        display: none;
    }
    .bigscreen{
        display: none;
    }
    aside {
        position: fixed;
        width: 300px;
        display: none;
    }
    .show {
        display: block;
    }
}